<div id="<%= dom_id message %>">
  <p>
    <strong>Sender:</strong>
    <%= message.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= message.recipient_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= message.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <p>
    <strong>Date sent:</strong>
    <%= message.date_sent %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= message.status %>
  </p>

</div>
