<div id="<%= dom_id course_class %>">
  <p>
    <strong>Course:</strong>
    <%= course_class.course_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course_class.teacher_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course_class.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course_class.description %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= course_class.schedule %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course_class.room %>
  </p>

</div>
