<div id="<%= dom_id result %>">
  <p>
    <strong>Student:</strong>
    <%= result.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= result.course_id %>
  </p>

  <p>
    <strong>Exam:</strong>
    <%= result.exam_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= result.score %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= result.grade %>
  </p>

</div>
