<div id="<%= dom_id submission %>">
  <p>
    <strong>Assignment:</strong>
    <%= submission.assignment_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= submission.student_id %>
  </p>

  <p>
    <strong>Submission date:</strong>
    <%= submission.submission_date %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= submission.grade %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= submission.feedback %>
  </p>

</div>
