<div id="<%= dom_id calendar %>">
  <p>
    <strong>Event title:</strong>
    <%= calendar.event_title %>
  </p>

  <p>
    <strong>Event description:</strong>
    <%= calendar.event_description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= calendar.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= calendar.end_date %>
  </p>

</div>
