<div id="<%= dom_id report %>">
  <p>
    <strong>Student:</strong>
    <%= report.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= report.course_id %>
  </p>

  <p>
    <strong>Overall grade:</strong>
    <%= report.overall_grade %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= report.comments %>
  </p>

</div>
